[Unit]
Description=Google Drive - UNIVE (rclone)

[Service]
Type=simple
User=westfox5
ExecStart=/usr/bin/rclone mount UNIVE: /home/westfox5/gdrive-unive \
        --config=/home/westfox5/.config/rclone/rclone.conf \
        --allow-other \
        --drive-use-trash
ExecStop=/bin/fusermount -u /home/westfox5/gdrive-unive

[Install]
WantedBy=multi-user.target
